@media only screen and (min-width: 65em) {

.motto{
    display: inline;
}
    .small-view {
        display: none;
        }

.large {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    padding: 35px;

}

.large picture {
    padding: 15px;
}

.large img {
    max-width: 100%;

}
.vespa{
    float: left;
    max-width:20%;
}
.info{
    padding:30px;
    margin:0 auto;
}
.today{
    font-size:30px;
}

h2 {
    font-size: 60px;
}
.call-to-action{
   margin-top:60px;
    width:360px;
}

.weatherInfo{
    margin-top:50px;
}

.weather-headline{
    font-size:1.5rem;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc{
    margin-left:140px;
}





}