@media only screen and (min-width: 35em){



button {
    display: none;
}

nav ul.hide,
nav ul {
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: .8rem 1rem;
}

nav ul {
    margin-left: 2%;
}
header {
    background-color: #f0f6f6;
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
}

 .logo {
    margin-left: 30px;


}



.motto {
display:inline-block;
margin-right:80px;
margin-top:40px;
font-size: 12px;
font-style: italic;
}
.weather-headline{
    font-size: .99rem;
}
.vespa{
    max-width: 60%;
}
.desc{
    margin-left:85px;
}
}